<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Resetowanie hasła konta GymFit</title>
</head>
<body>
<p>Witaj!</p>
<br>
<p>Aby zresetować swoje hasło konta GymFit, kliknij następujący link:</p>
<p th:text="${link}">link</p>
<br>
<p>Link jest ważny 24 godziny.</p>
<p>Jeśli nie chcesz zresetować hasła, po prostu zignoruj tę wiadomość – prawdopodobnie ktoś przypadkowo wpisał adres
    e-mail.</p>
<br>
<p>Dziękujemy!</p>
<p>Zespół GymFit</p>
</body>
</html>